<!DOCTYPE html>
<html>
<head>
  <title>QuestMaker</title>
  <%= stylesheet_link_tag    "quest_maker/application", media: "all" %>
  <%= javascript_include_tag "quest_maker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
